* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

.navbar {
  background: #003366;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links button {
  padding: 8px 12px;
  border: none;
  background: crimson;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.container,
.page {
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  padding: 12px 20px;
  border: none;
  background: #003366;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

table th {
  background: #003366;
  color: white;
}